.fieldset { border:3px solid green }

.legend {
    padding: 0.2em 0.5em;
    border:5px solid green;
    color:green;
    font-size:90%;
    text-align:right;
}
.login-form {
    position: relative;
}